Repository fga-gpp-mds/2018.1_Gerencia_mais, pull requests merged in 2018-04, with the labels that each got.

#50 Is3 termo de abertura de projeto tap
  docs/documentos/Eps/Termo_de_abertura_do_Projeto.md
Labels: [Documentation], [EPS], [Organization], [Sprint]

#53 Is52 elaborar gerenciamento de riscos do projeto
  docs/documentos/Eps/Detalhamento_de_Riscos.md
  docs/documentos/Eps/Gerenciamento_de_Riscos.md
  docs/documentos/imagens/Gerenciamento_de_Riscos/EAR.png
Labels: [Documentation], [EPS], [Organization]

#55 Is37 cadastrar horarios de medicos
  leito_hospitalar/doctorhour/__init__.py
  leito_hospitalar/doctorhour/admin.py
  leito_hospitalar/doctorhour/apps.py
  leito_hospitalar/doctorhour/migrations/0001_initial.py
  leito_hospitalar/doctorhour/migrations/__init__.py
  leito_hospitalar/doctorhour/models.py
  leito_hospitalar/doctorhour/serializers.py
  leito_hospitalar/doctorhour/tests.py
  leito_hospitalar/doctorhour/urls.py
  leito_hospitalar/doctorhour/views.py
  leito_hospitalar/frontend/package-lock.json
  leito_hospitalar/frontend/package.json
  leito_hospitalar/frontend/src/api.js
  leito_hospitalar/frontend/src/components/FormErrors.js
  leito_hospitalar/frontend/src/css/DoctorForm.css
  leito_hospitalar/frontend/src/css/FormErrors.css
  leito_hospitalar/frontend/src/index.js
  leito_hospitalar/frontend/src/pages/DoctorForm.jsx
  leito_hospitalar/leito_hospitalar/settings.py
  leito_hospitalar/leito_hospitalar/urls.py
  leito_hospitalar/templates/DoctorForm.html
Labels: [Backend], [Django], [MDS], [Sprint], [User Stories]

#57 Is40 visualizar quadro de disponibilidade medica semanal
  leito_hospitalar/frontend/package-lock.json
  leito_hospitalar/frontend/package.json
  leito_hospitalar/frontend/src/App.js
  leito_hospitalar/frontend/src/css/popup.css
  leito_hospitalar/frontend/src/pages/ScheduleTable.jsx
Labels: [Frontend], [MDS], [React], [User Stories]

#63 Refactoring of the status handler code
  leito_hospitalar/frontend/src/App.js
Labels: [Frontend], [MDS], [React], [User Stories]

#54 Update requirements rest framework
  leito_hospitalar/requirements.txt
Labels: [Backend], [Django], [Docker], [Frontend], [React], [Urgent]

#60 Starting prototype
  docs/documentos/Mds/PrototipoBaixaFidelidade.pdf
Labels: [MDS], [Prototype], [Technical Stories]

#71 Addition of micro service
  docker-compose.yml
  requirements.txt
Labels: [Configuration], [Docker], [EPS], [Urgent]

#76 Is65 vizualizar quadro de disponibilidade medica mensal
  package-lock.json
  package.json
  src/App.js
  src/pages/ScheduleTable.jsx
Labels: [Frontend], [MDS], [React], [User Stories]

#84 Adaptando travis para deploy continuo
  .travis.yml
Labels: [Configuration], [DevOps], [EPS], [Heroku], [Technical Stories], [Travis], [Urgent]

#86 Adicionando roadmap devops
  docs/documentos/Eps/RoadMaps/roadMap_DevOps_R1.png
Labels: [DevOps], [Documentation], [EPS], [Organization], [Technical Stories]

#88 Uploading Documents
  docs/documentos/Eps/Documento_GCS.md
  docs/documentos/Eps/Metodologia.md
  docs/documentos/Eps/Plano_de_Gerenciamento_de_Qualidade.md
  docs/documentos/Eps/aulas/IntroducaoDocker.pdf
  docs/documentos/Mds/Documento_de_Arquitetura.md
  docs/documentos/Mds/Documento_de_Visao.md
  docs/documentos/Sprints/Sprint_0_Resultados.md
  docs/documentos/Sprints/Sprint_1_Planejamento.md
  docs/documentos/Sprints/Sprint_1_Resultados.md
  docs/documentos/Sprints/Sprint_2_Resultados.md
Labels: [EPS], [MDS], [Organization], [Urgent]

#97 Is38 atualizar quadro de horários
  src/App.js
  src/components/NavBar.jsx
  src/pages/MyTable.jsx
  src/pages/UpdateSchedule.jsx
Labels: [Frontend], [MDS], [React], [Technical Stories]

#99 Refactoring of minor data
  src/pages/HomePage.jsx
  src/pages/UpdateSchedule.jsx
Labels: [Frontend], [MDS], [React], [Technical Stories]

#115 Fix the doc with new scope
  docs/documentos/Mds/Documento_de_Visao.md
Labels: [Documentation], [MDS], [Organization]

#117 Is01 elaborar doc de visao
  docs/documentos/Mds/Documento_de_Visao.md
Labels: [Documentation], [MDS], [Organization]

#118 Is81 elaborar evm
  docs/documentos/Eps/EVM.md
Labels: [Documentation], [EPS], [Organization], [Sprint], [Urgent]

#123 Is69 organizar documentação das sprints
  docs/documentos/Sprints/Sprint_0_Resultados.md
  docs/documentos/Sprints/Sprint_1_Planejamento.md
  docs/documentos/Sprints/Sprint_1_Resultados.md
  docs/documentos/Sprints/Sprint_2_Resultados.md
  docs/documentos/Sprints/Sprint_3_Planejamento.md
  docs/documentos/Sprints/Sprint_3_Resultados.md
  docs/documentos/Sprints/Sprint_4_Planejamento.md
  docs/documentos/Sprints/Sprint_4_Resultados.md
  docs/documentos/Sprints/Sprint_5_Planejamento.md
  docs/documentos/Sprints/Sprint_5_Resultados.md
  docs/documentos/imagens/Sprint3/burndown.png
  docs/documentos/imagens/Sprint3/retrospectiva.png
  docs/documentos/imagens/Sprint4/Pareamento.png
  docs/documentos/imagens/Sprint4/burndown.png
  docs/documentos/imagens/Sprint4/retrospectiva.png
  docs/documentos/imagens/Sprint5/Pareamento.png
  docs/documentos/imagens/Sprint5/burndown.png
  docs/documentos/imagens/Sprint5/quadro_de_conhecimento_r1.png
  docs/documentos/imagens/Sprint5/retrospectiva.png
  docs/documentos/imagens/horas_trabalhadas/grafico_eps.png
  docs/documentos/imagens/horas_trabalhadas/grafico_mds.png
  docs/documentos/imagens/horas_trabalhadas/horas_eps.png
  docs/documentos/imagens/horas_trabalhadas/horas_mds.png
  docs/documentos/imagens/sprint0/burndown.png
  docs/documentos/imagens/sprint1/burndown.png
  docs/documentos/imagens/sprint1/retrospectiva.png
  docs/documentos/imagens/sprint2/burndown.png
  docs/documentos/imagens/sprint2/retrospectiva.png
Labels: [Documentation], [EPS], [Organization]

#93 Is92 definicao de pronto
  docs/documentos/Eps/Definicao-de-pronto.md
Labels: [Documentation], [EPS], [Organization], [Sprint], [Technical Stories]

#107 Update GCS version 0.2
  docs/documentos/Eps/Documento_GCS.md
Labels: [Backend], [Configuration], [DevOps], [Django], [Docker], [Documentation], [EPS], [Frontend], [Heroku], [Organization]

#120 Change status bug fix
  src/pages/DoctorStatus.jsx
Labels: [Bug], [Configuration], [MDS]

#108 Is2 elaborar documento de arquitetura
  db.sqlite3
  docs/documentos/Mds/Documento_de_Arquitetura.md
  docs/documentos/imagens/Documento_de_arquitetura/PackageDiagram.png
  docs/documentos/imagens/Documento_de_arquitetura/snippod-boilerplate-stack.png
  schedule/locale/de/LC_MESSAGES/django.mo
  schedule/locale/en/LC_MESSAGES/django.mo
  schedule/locale/es/LC_MESSAGES/django.mo
  schedule/locale/fi/LC_MESSAGES/django.mo
  schedule/locale/fr/LC_MESSAGES/django.mo
  schedule/locale/it/LC_MESSAGES/django.mo
  schedule/locale/pt_BR/LC_MESSAGES/django.mo
  schedule/locale/ru/LC_MESSAGES/django.mo
  schedule/locale/zh/LC_MESSAGES/django.mo
Labels: [Architecture], [Documentation], [MDS], [Organization], [Urgent]

#124 Development
  Monitoramento/analises.md
  Monitoramento/imagens/consumomemoriahomolog.png
  Monitoramento/imagens/httpcodesHomolog.png
  Monitoramento/imagens/httpinfo.png
  Monitoramento/imagens/memoria.png
  README.md
  docs/documentos/imagens/Tecnologias/mon.png
Labels: [Backend], [Configuration], [DevOps], [Django], [EPS], [Frontend], [Heroku], [MDS], [Produção]

#128 Added EAP file - version 1.
  docs/documentos/imagens/EAP/Estrutura_analitica_do_projeto_v1.png
Labels: [Architecture], [Documentation], [EPS], [Organization]

#143 Update doc GCS
  docs/documentos/Eps/Documento_GCS.md
Labels: [Configuration], [Documentation], [EPS], [Sprint]
